@inject UsersDbService dbService


<div class="MessageBoxBackground" @onclick="buttonClose" />

<div class="MessageBox">
	<div class="container">
		<div class="headerPlace textHeader">
			Добавление пользователя
		</div>

		@if (thereIsError)
		{
			<div class="textPlace textErrorContent">
				@message
			</div>
		}
		else
		{
			<div class="textPlace textSuccessContent">
				@message
			</div>
		}
		


		<div class="textPlace textContent">
			<div class="subContainer">
				<div class="textSuccessContent">
					Имя:
				</div>
				<div class="textSuccessContent">
					<input type="text" class="fullScale" @bind=userLogin />
				</div>
			</div>
		</div>


		<div class="textPlace textSuccessContent">
			<div class="subContainer">
				<div class="textSuccessContent">
					Пароль:
				</div>
				<div class="textSuccessContent">
					<input type="text" class="fullScale" @bind=userPassword />
				</div>
			</div>
		</div>

		<div class="textPlace textSuccessContent">
			<div class="subContainer">
				<div class="textSuccessContent">
					Роль
				</div>
				<div class="textSuccessContent">
					<select class="form-select" aria-label="default exapmple" @bind="userRole">
						<option selected>Выбрать роль</option>
						<option value="admin">Администратор</option>
						<option value="master">Мастер</option>
						<option value="user">Рабочий</option>
						<option value="student">Студент</option>
					</select>
				</div>
			</div>
		</div>



		<div class="subContainer">
			<button class="btn btn-danger fullScale" @onclick="createUser">
				Создать
			</button>
			<button class="btn btn-primary fullScale" @onclick="()=>buttonClose.InvokeAsync()">
				Закрыть
			</button>
		</div>

	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }

	private string userLogin { get; set; }
	private string userPassword { get; set; }
	private string userRole { get; set; }
	private string userLoginData { get; set; }

	private string message = "Введите данные нового пользователя";
	private bool thereIsError = false;

	private async Task createUser()
	{
		if (!String.IsNullOrEmpty(userLogin) & !String.IsNullOrEmpty(userPassword) & !String.IsNullOrEmpty(userRole))
		{
			try
			{
				User newUser = new User
					{
						id = Guid.NewGuid().ToString(),
						login = userLogin,
						password = userPassword,
						role = userRole,
						lastLoginData = "-"
					};
				await dbService.CreateUserAsync(newUser);
				thereIsError = false;
				buttonClose.InvokeAsync();
			}
			catch (Exception ex)
			{
				thereIsError = true;
				message = ex.Message.ToString();
			}
		}
		else
		{
			thereIsError = true;
			message = "Введены некорректные данные";
		}
	}
}



