.flexTable {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	background-color: silver;
	box-shadow: 0px 0px 20px 3px black;
	text-align: center;
	margin: 2vh 0vh 2vh 2vh;
	background-color: silver;
}

.addWideBorderToCell {
	border: solid black 0.5vh;
}

.addNarrowBorderToCell {
	border: solid black 0.1vh;
}

.item {
	display: flex;
	width: 100%;
}

.searchItem {
	display: flex;
	width: 100%;
	flex-basis: 83.4%;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.itemToSelect {
	display: flex;
	width: 100%;
	transition-duration: 0.3s;
}

	.itemToSelect:hover {
		background-color: lightsteelblue;
	}

.cell {
	flex-grow: 1;
	flex-basis: 25%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.addBackgroungToElement {
	background-color: cornflowerblue;
}