@inject IUsersDbService dbService

<div class="messageBoxBackground" @onclick="buttonClose" />

<div class="messageBox errorContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader errorTextShadows addBottomBorder">
			Удалить пользователя
		</div>

		<div class="textPlace textContent">
			Вы уверены, что хотите удалить пользователя @userToDelete.login
		</div>

		<div class="subContainer buttonUp">
			<button class="btn btn-danger fullScale" @onclick="deleteUser">
				Удалить
			</button>
			<button class="btn btn-primary fullScale" @onclick="()=>buttonClose.InvokeAsync()">
				Назад
			</button>
		</div>
	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }
	[Parameter] public EventCallback buttonDelete { get; set; }

	[Parameter] public User userToDelete { get; set; }

	private async Task deleteUser()
	{
		await dbService.DeleteUserAsync(userToDelete);
		await buttonClose.InvokeAsync();
		await buttonDelete.InvokeAsync();
	}
}
