<div class="messageBoxBackground" @onclick="buttonClose" />

<div class="messageBox errorContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader addBottomBorder errorTextShadows">
			Не выбран объект
		</div>

		<div class="textContent">
			Пожалуйста, выберите объект из таблицы
		</div>

		<button class="btn btn-primary buttonPlace" @onclick="()=>buttonClose.InvokeAsync()">
			Закрыть и выбрать
		</button>

	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }
}