@inject UsersDbService dbService

<div class="messageBoxBackground" @onclick="buttonClose" />

<div class="messageBox successContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader successTextShadows addBottomBorder">
			Данные пользователя
		</div>

		@if (thereIsError)
		{
			<div class="textPlace textContent errorTextShadows">
				@message
			</div>
		}
		else
		{
			<div class="textContent textContent successTextShadows">
				@message
			</div>
		}

		<div class="textPlace textContent">
			<div class="subContainer">
				<div class="textContent">
					Имя:
				</div>
				<div class="textContent">
					@Login
				</div>
			</div>
		</div>

		<div class="textPlace textContent">
			<div class="subContainer">
				<div class="textContent">
					Пароль:
				</div>
				<div class="textContent textScroll">
					@Password
				</div>
			</div>
		</div>

		<div class="textPlace textContent">
			<div class="subContainer">
				<div class="textContent">
					Роль:
				</div>
				<div class="textContent">
					@Role
				</div>
			</div>
		</div>

		<div class="textPlace textContent">
			<div class="subContainer">
				<div class="textContent">
					Последний вход:
				</div>
				<div class="textContent">
					@LoginData
				</div>
			</div>
		</div>

		<div class="textPlace">
			<button class="btn btn-primary buttonUp fullScale" @onclick="()=>buttonClose.InvokeAsync()">
				Закрыть
			</button>
		</div>

	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }
	[Parameter] public User userToGetInfo { get; set; }

	private string Login { get; set; }
	private string Password { get; set; }
	private string Role { get; set; }
	private string LoginData { get; set; }

	private string message = "Данные загружены";
	private bool thereIsError = false;

	protected override void OnInitialized()
	{
		if (userToGetInfo != null)
		{
			Login = userToGetInfo.login;
			Password = userToGetInfo.password;
			Role = userToGetInfo.role;
			LoginData = userToGetInfo.lastLoginData;
		}
		else
		{
			message = "пользователь не выбран";
			thereIsError = true;
		}
	}
}

