@inject ISessionsDbService dbService

<div class="messageBoxBackground" @onclick="buttonClose" />

<div class="messageBox errorContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader errorTextShadows addBottomBorder limitConteiner">
			Удалить ВСЕ сессиии?
		</div>

		<div class="textPlace textContent">
			Вы уверены, что хотите удалить все сессии?
		</div>

		<div class="subContainer buttonUp">
			<button class="btn btn-danger fullScale" @onclick="deleteAllSessions">
				Удалить
			</button>
			<button class="btn btn-primary fullScale" @onclick="()=>buttonClose.InvokeAsync()">
				Назад
			</button>
		</div>
	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }
	[Parameter] public EventCallback buttonDelete { get; set; }

	[Parameter] public Session sessionToDelete { get; set; }

	private async Task deleteAllSessions()
	{
		await dbService.ClearSessionsDbAsync();
		await buttonClose.InvokeAsync();
		await buttonDelete.InvokeAsync();
	}
}