@inject ConfigurationService configurationService
@inject IShutdownTimer shutdownTimer;

<div class="messageBoxBackground" @onclick="() => buttonClose.InvokeAsync()" />

<div class="messageBox errorContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader addBottomBorder errorTextShadows limitConteiner">
			Превышено число брака подряд!
		</div>

		<div class="textContent">
			До автоотключения линии осталось @secondsBeforeTimerShutdownLine секунд
		</div>

		<div class="textContent">
			Пожалуйста, примите соответствующие меры
		</div>

		<div class="subContainer buttonUp">
			<button class="btn btn-danger fullScale" @onclick="OffLine">
				Отключить линию
			</button>
			<button class="btn btn-primary fullScale" @onclick="DisableMonitorMarriageProcent">
				Отключить проверку
			</button>
		</div>


		@if (configurationService.SoundsOn)
		{
			<audio autoplay>
				<source src="BigMarriageCountInRow.mp3" type="audio/mp3" />
			</audio>
		}
	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }

	private int secondsBeforeTimerShutdownLine;


	protected override void OnInitialized()
	{
		secondsBeforeTimerShutdownLine = configurationService.TimeToShutdownLine / 1000;
		shutdownTimer.timeToShutdownLineEvent += UpdateTimerValue;
	}


	private void DisableMonitorMarriageProcent()
	{
		buttonClose.InvokeAsync();
		configurationService.MonitorMarriageCountInRow = false;
	}

	private void OffLine()
	{
		buttonClose.InvokeAsync();
		shutdownTimer.StopAndCloseTimer();
		//сообщение на камеру об отключении линиии (пин)

	}

	private void UpdateTimerValue(int value)
	{
		if (value <= 0)
		{
			shutdownTimer.timeToShutdownLineEvent -= UpdateTimerValue;
			OffLine();
		}
		else
		{
			secondsBeforeTimerShutdownLine = value;
			InvokeAsync(StateHasChanged);
		}
	}
}