@inject ConfigurationService configurationService

<div class="messageBoxBackground" @onclick="() => buttonClose.InvokeAsync()" />

<div class="messageBox errorContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader addBottomBorder errorTextShadows limitConteiner">
			Превышен число брака подряд!
		</div>

		<div class="textContent">
			Пожалуйста, примите соответствующие меры
		</div>

		<div class="subContainer buttonUp">
			<button class="btn btn-danger fullScale" @onclick="OffLine">
				Отключить линию
			</button>
			<button class="btn btn-primary fullScale" @onclick="DisableMonitorMarriageProcent">
				Отключить проверку
			</button>
		</div>


		@if (configurationService.SoundsOn)
		{
			<audio autoplay>
				<source src="BigMarriageCountInRow.mp3" type="audio/mp3" />
			</audio>
		}
	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }

	private void DisableMonitorMarriageProcent()
	{
		buttonClose.InvokeAsync();
		configurationService.MonitorMarriageCountInRow = false;
	}

	private void OffLine()
	{
		buttonClose.InvokeAsync();
		//Метод для отправки сообщения на камеру. Какой - ...
	}
}