.messageBox {
    position: fixed;
    height: 96vh;
    width: 90%;
    left: 5%;
    top: 2vh;
    background-color:lightblue;
}



.textScroll {
    overflow: scroll;
}

.subContainer {
    overflow: hidden;
    flex-basis: 15vh;
}

.objectHeight{
    height: 15vh;
}

.objectTwoHeight {
    margin: 4vh 0vh 2vh 0vh;
    flex-basis: 20vh;
}

.objectThreeHeight {
    margin: 2vh 0vh 4vh 0vh;
    flex-basis: 30vh;
}