@inject ConfigurationService configurationService

<div class="messageBoxBackground" @onclick="() => buttonClose.InvokeAsync()" />

<div class="messageBox successContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader addBottomBorder successTextShadows limitConteiner">
			Отлично
		</div>

		<div class="textContent">
			Последние приготовления, подключение к камере...
		</div>


	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }
}