<div class="messageBoxBackground" @onclick="()=>buttonClose.InvokeAsync()" />

<div class="messageBox errorContainerShadows">
	<div class="container">
		<div class="headerPlace textHeader errorTextShadows">
			Неверный логин или пароль!
		</div>

		<div class="textPlace textContent">
			Пожалуйста, проверьте введенные данные и повторите попытку
		</div>

		<button class="buttonPlace btn btn-primary buttonUp customButton" @onclick="()=>buttonClose.InvokeAsync()">
			Повторить
		</button>
	</div>
</div>

@code {
	[Parameter] public EventCallback buttonClose { get; set; }
}
