@inject UsersDbService userService



@if (showAddUserMBState)
{
	<AddUserMessageBox buttonClose="ChangeAddUserMBState" />
}

@if (showChangeUserMBState)
{
	<EditUserMessageBox buttonClose="ChangeEditUserMBState" userToEdit="selectedUser" />
}

@if (showDeleteUserMBState)
{
	<DeleteUserMessageBox buttonClose="ChangeDeleteUserMBState" userToDelete="selectedUser" />
}



@if (showUserInformationMBState)
{
	<UserInfoMessageBox buttonClose="ChangeGetUserInfoMBState" userToGetInfo="selectedUser" />
}


@if (showSelectSomebodyMBState)
{
	<SelectSomebodyMessageBox buttonClose="ChangeSelectSomebodyMBState" />
}


<div class="PageGrid">

	<div class="navigationItemPlace">
		<div class="objectFullScale">
			<div class="oi oi-lock-locked headerIconics" />
		</div>
	</div>


	<div class="appTitlePlace">
		<span class="applicationHeader">
			Camera Diplomat
		</span>
	</div>

	<div class="settingsIconPlace">
		<div class="objectFullScale">
			<div class="oi oi-cog headerIconics" />
		</div>
	</div>


	<div class="dbGridPlace">
		<DbUsersTable usersFromDb="usersFromDb" selectedUser="SmtWithSelectedUser" />
	</div>


	<div class="buttonsPlace">
		<div class="buttonsContainer">
			<button class="btn btn-primary customButton" @onclick="ChangeAddUserMBState">Добавить</button>
			<button class="btn btn-primary customButton" @onclick="ChangeEditUserMBState">Изменить</button>
			<button class="btn btn-danger customButton" @onclick="ChangeDeleteUserMBState">Удалить</button>
			<button class="btn btn-primary customButton" @onclick="ChangeGetUserInfoMBState">Подробнее</button>
		</div>
	</div>
</div>







@code {
	[Parameter] public EventCallback buttonClose { get; set; }
	private List<User> usersFromDb;

	User selectedUser = null;

	private bool showAddUserMBState = false;
	private bool showChangeUserMBState = false;
	private bool showDeleteUserMBState = false;
	private bool showUserInformationMBState = false;

	private bool showSelectSomebodyMBState = false;

	protected override void OnInitialized()
	{
		//Add linq filter???
		usersFromDb = userService.GetUsers();
		InvokeAsync(StateHasChanged);
	}


	private void SmtWithSelectedUser(User userFromTable)
	{
		selectedUser = userFromTable;
	}

	private void ChangeAddUserMBState()
	{
		if (!showAddUserMBState)
		{
			showAddUserMBState = true;
		}
		else
		{
			showAddUserMBState = false;
			RefreshUsersFromDb();
		}
	}

	private void ChangeEditUserMBState()
	{
		if (!showChangeUserMBState)
		{
			if (selectedUser == null)
			{
				ChangeSelectSomebodyMBState();
			}
			else
			{
				showChangeUserMBState = !showChangeUserMBState;
			}
		}
		else
		{
			showChangeUserMBState = !showChangeUserMBState;
			RefreshUsersFromDb();
		}
	}

	private void ChangeDeleteUserMBState()
	{
		if (!showSelectSomebodyMBState)
		{
			if (selectedUser == null)
			{
				ChangeSelectSomebodyMBState();
			}
			else
			{
				showSelectSomebodyMBState = !showSelectSomebodyMBState;
			}
		}
		else
		{
			showSelectSomebodyMBState = !showSelectSomebodyMBState;
			RefreshUsersFromDb();
		}
	}

	private void ChangeGetUserInfoMBState()
	{
		if (!showChangeUserMBState)
		{
			if (selectedUser == null)
			{
				ChangeSelectSomebodyMBState();
			}
			else
			{
				showChangeUserMBState = !showChangeUserMBState;
			}
		}
		else
		{
			showChangeUserMBState = !showChangeUserMBState;
			RefreshUsersFromDb();
		}
	}


	private void ChangeSelectSomebodyMBState()
	{
		showSelectSomebodyMBState = !showSelectSomebodyMBState;
	}

	private void RefreshUsersFromDb()
	{
		usersFromDb = userService.GetUsers();
		InvokeAsync(StateHasChanged);
	}
}
