@page "/"
@inject UsersDbService userService
@inject NavigationManager navigationManager

<div class="PageGrid">
	<div class="navigationItemPlace">
		<div class="objectFullScale">
			<div class="oi oi-lock-locked headerIconics customButton" @onclick="ChangeShowInfoMBState" />
		</div>
	</div>

	<div class="appTitlePlace">
		<span class="applicationHeader">
			Camera Diplomat
		</span>
	</div>

	<div class="settingsIconPlace">
		<div class="objectFullScale">
			<div class="oi oi-lock-locked headerIconics  customButton" />
		</div>
	</div>

	<div class="userIconPlace">
		<center>
			<div class="oi oi-person userIcon" />
		</center>
	</div>

	<div class="loginTextPlace textContent">
		Логин:
	</div>

	<div class="loginInputPlace textContent">
		<input type="text" class="objectPartScale inputBlockStyle" @bind="login" />
	</div>


	<div class="passwordTextPlace textContent">
		Пароль:
	</div>

	<div class="passwordInputPlace textContent">
		<input type="password" class="objectPartScale inputBlockStyle" @bind="password"/>
	</div>

	<div class="buttonLoginPlace">
		<div class="textContent customButton" @onclick="buttonLoginClick">
			Войти
		</div>
	</div>
</div>

@if (IsLoginFail)
{
	<LoginErrorMessageBox buttonClose="CloseMessageBox" />
}

@if (ShowInfoMessageBox)
{
	<InfoErrorMessageBox buttonClose="CloseMessageBox" />
}

@if (ShowSettingsMessageBox)
{
	<SettingMessageBox buttonClose="ChangeSettingsMBState"/>
}


@code {

	private string login;
	private string password;
	private bool IsLoginFail = false;

	private bool ShowSettingsMessageBox = false;
	private bool ShowInfoMessageBox = false;

	private void buttonLoginClick()
	{
		string autintificateStatus = userService.Authentificate(login, password);
		if (autintificateStatus.Equals("success"))
		{
			navigationManager.NavigateTo("/home");
		}
		else
		{
			IsLoginFail = true;
		}
	}

	private void CloseMessageBox()
	{
		IsLoginFail = false;
	}


	private void ChangeSettingsMBState()
	{
		ShowSettingsMessageBox = !ShowSettingsMessageBox;
	}

	private void ChangeShowInfoMBState()
	{
		ShowInfoMessageBox = !ShowInfoMessageBox;
	}
}















