@inherits LayoutComponentBase

<main>

	<div class="backgroundVideoContainer">
		<video сlass="backgroundVideo" preload="auto" loop muted autoplay>
			<source src="bg.mp4"/>
		</video>
	</div>

	@Body
</main>
